<h1><%= @user.name %>'s Profile Page</h1>

<h3>Events</h3>

<%= link_to "Create Event", new_event_path %>

<% @user.created_events.each do |event| %>
    <h4>
        <%= link_to event.date.strftime("%B %d, %Y").to_s, event %>
    </h4>
    <p>
        <%= event.description %>
    </p>
<% end %>

<h3>Upcoming Attended Events</h3>

<% @upcoming_events.each do |event| %>
    <h4>
        <%= link_to event.date.strftime("%B %d, %Y").to_s, event %>
    </h4>
    <ul>
        <li>
            <%= event.description %>
        </li>
        <li>
            Created by <%= event.creator.name %>
        </li>
    </ul>
<% end %>

<h3>Past Attended Events</h3>

<% @prev_events.each do |event| %>
    <h4>
        <%= link_to event.date.strftime("%B %d, %Y").to_s, event %>
    </h4>
    <ul>
        <li>
            <%= event.description %>
        </li>
        <li>
            Created by <%= event.creator.name %>
        </li>
    </ul>
<% end %>
    
